.filter {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter label {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
