.navbar {
  background: #333;
  padding: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navItem {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active {
  color: rgb(206, 230, 71);
  font-weight: bold;
}
